<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        version="1.0.0"
        id="cordova-plugin-read-sttings">

    <name>ReadSettings</name>
	
    <js-module src="www/ReadSettings.js" name="ReadSettings">
        <clobbers target="window.plugins.ReadSettings" />
    </js-module>

    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
			<feature name="ReadSettings">
                <param name="android-package" value="com.custom.plugin.ReadSettings" />
            </feature>
		</config-file>
		
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
		</config-file>
		
        <source-file src="src/android/com/custom/plugin/ReadSettings.java" target-dir="src/android/com/custom/plugin" />
        	
    </platform>
</plugin>